$body-bg: #f9fbfd;
$borders-color: #edf2f9;
$body-color: #95aac9;
$headings-color: #12263f;
$blue: #2c7be5;
$green: #00d97e;
$red: #e63757;
$yellow: #f6c343;
$cyan: #a6c5f7; 

$border-radius: .4rem;

$card-border-color: $borders-color;
$card-cap-bg: #ffffff;
$card-spacer-y: 1.1rem;

$hr-border-color: $borders-color;
$link-color: #2c7be5;